@import "bootstrap/functions";
@import "variables";
@import "bootstrap/mixins";
//@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
//@import "bootstrap/code";
@import "bootstrap/grid";
//@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
@import "bootstrap/button-group";
@import "bootstrap/input-group";
//@import "bootstrap/custom-forms";
@import "bootstrap/nav";
@import "bootstrap/navbar";
@import "bootstrap/card";
@import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
//@import "bootstrap/badge";
//@import "bootstrap/jumbotron";
@import "bootstrap/alert";
//@import "bootstrap/progress";
//@import "bootstrap/media";
//@import "bootstrap/list-group";
@import "bootstrap/close";
//@import "bootstrap/modal";
//@import "bootstrap/tooltip";
//@import "bootstrap/popover";
//@import "bootstrap/carousel";
@import "utilities";


html {
  min-height: 100%;
  background: url("../img/bg_bottom.jpg") center bottom no-repeat $black;
  background-size: contain;
}

body {
  min-height: 100vh;
  background: radial-gradient(at center $navbar-height, $body-gradient, transparent);
  &.home {
    background: none;
  }
}

h1, .h1 {
  text-transform: uppercase;
  font-weight: bold;
  &.title {
    margin-bottom: 1.5rem;
  }
}

.page-container {
  min-height: 100vh;
  padding: 0 0 $footer-height 0;
}

.navbar {
  background: $black;
  margin-bottom: $navbar-margin-b;
  &-nav {
    .nav-link {
      text-transform: uppercase;
      font-size: $font-size-navbar;
      font-weight: bold;
    }
  }
  &-brand {
    margin: 0;
  }
  button.nav-link {
    cursor: pointer;
    color: $link-color;
    background: transparent;
    border: none;
    margin: 0;
    &:hover {
      color: $link-hover-color;
    }
  }
  .dropdown-menu {
    font-size: 1rem;
  }
}

.breadcrumb {
  font-size: $small-font-size;
}

select {
  &.form-control {
    padding-top: 0;
    padding-bottom: 0;
  }
}

section {
  &.home {
    text-align: center;
    & > img {
      margin-top: -$navbar-margin-b;
      width: 100%;
    }
    .container {
      margin-top: -10%;
    }
    .display-4 {
      font-weight: bold;
    }
  }
  &.social {
    text-align: center;
  }
}

div.required label.control-label:after {
  content: " *";
  color: red;
}

footer {
  text-align: center;
  margin-top: -$footer-height;
  box-sizing: border-box;
  .row {
    height: $footer-height;
  }
}